*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
	background:url(../images/bg.jpg) no-repeat #3a3a3a;
}

@import '_vars';

@import 'ui/helpers';
@import 'ui/scaffolding';
@import 'ui/header';
@import 'ui/navs';
@import 'ui/footer';

@import 'ui/home';