<footer>
  <span class="motto">OUR PEOPLE. OUR HOME</span>
  <img class="slogan" src="/images/btm_slogan2.jpg" alt="Discover NDP 2014" />
  <span class="copyright">Copyright &copy; NDP 2014. All Rights Reserved.</span>
</footer>
