<nav class="cf">
  <div class="social">
    <a href="https://www.facebook.com/ndpeep" target="_blank"><img src="images/icon_fb.jpg" border="0" alt="Facebook" title="Facebook" /></a>
    <a href="http://instagram.com/ndpsing2014" target="_blank"><img src="images/icon_instagram.png" hspace="5" border="0"  alt="Instagram" title="Instagram" /></a>
  </div>
  <div class="links">
    <ul>
    {{#each navlinks}}
      <li><a href="{{url}}">{{label}}</a></li>
    {{/each}}
    </ul>
  </div>
</nav>