/*------------------------------------*\
	$CONTENTS
\*------------------------------------*/
/**
 * FOOTER
 */

/*------------------------------------*\
$FOOTER
\*------------------------------------*/
footer {
	margin: 0 0 20px 0;
	padding: 20px;
	height: 160px;
	position: relative;

	background-color: #ef4226;

	.motto {
		font-family: 'open sans regular', sans-serif;
		font-size:15px !important;
		color: #fdbcb2;
		
		position: absolute;
	}

	.slogan {
		width: 185px;
		height: 95px;

		position: absolute;
		right: 20px;
	}

	.copyright {
		font-family:Arial, Helvetica, sans-serif; 
		font-size:11px; 
		color:#FFFFFF;

		position: absolute;
		right: 20px;
		bottom: 20px;
	}
}