.home {
	position: relative;

	background: #FFF;

	.sidebar {
		width: 190px;
	}

	.main {

	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		float:left;
		z-index: 9999;
	}

	.instagram-gallery {
		width: 165px;
		height: 165px;

		.cycle-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.week-photos {
		position: relative;
	}

	.heroes {
		position: relative;
	}
}