.home {
	position: relative;

	background: #FFF;

	a {
		display: block;
	}

	img {
		display: block;
	}

	/* Home Page Grid */
	[class*='col-'] {
  	float: left;
  	padding-left: 3px;
	  padding-right: 3px;
	}

	[class*='col-']:first-of-type {
	  padding-left: 0;
	}

	[class*='col-']:last-of-type {
		float: right;
	  padding-right: 0;
	}

	.row {
	  margin-bottom: 6px;
	}

	.row:last-of-type {
	  margin-bottom: 0;
	}	

	/* Home Page Elements */
	.sidebar {
		width: 200px;
	}

	.main {
		width: 960px;
		overflow-x: hidden;

		.square {
			position: relative;
		  height: 0;
		  padding-bottom: 100%;
		  overflow: hidden;	
		}
	}
}