/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/

/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/

nav {
	.social {
		float: left;
	}
	.links {
		float: right;

		> ul {
			li {
				float: left;
				padding: 0 10px;
				list-style: none;

				a:link, a:visited {
					text-transform: uppercase;
					font-weight: 900;
					color: #999;
				}

				a:hover, a:active {
					color: #CCC;
				}
 			}
		}
	}
}



/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
