
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta id="Viewport" name="Viewport" content="width=1200"/>
  <title>NDP 2014 - Our People Our Home</title>
  <meta name="description" content="NDP 2014 - Our People Our Home.
  We will celebrate our People – fellow Singaporeans with a lot of heart and soul – who can do the extraordinary when we come together as one. We will celebrate our Home – a caring and secure place with strong families and kind neighbours – where we are confident of a bright future for our future generations. " />
  <meta name="keywords" content="ndp, 2014, our, people, home, celebrate, singapore, singaporean" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="expires" content="0" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
  <link href="common/style.css" rel="stylesheet" type="text/css" />
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
  <script type="text/javascript" src="common/jscripts.js">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51026724-2', 'ndp.org.sg');
  ga('send', 'pageview');


</head>
<body onload="autoDisplay();autoDisplayPart();">
  <div id="fb-root"></div>

  <script type="text/javascript">
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=206070899405009";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <table cellpadding="0" cellspacing="0" border="0" width="1200">
  <tr>
  <td colspan="4"><div id="divDropdown" align="center" style="width:100%; position:absolute; top: 35px; z-index:1000; left: 95px; display:none;">
  <table cellpadding="0" cellspacing="0" border="0" width="980" style="background-color: #494949;" onmouseover="document.getElementById('divDropdown').style.display='block';" onmouseout="document.getElementById('divDropdown').style.display='none';">
  <tr style="background-color:#3a3a3a;">
  <td height="5" colspan="7"></td>
  </tr>
  <tr>
  <td height="15" colspan="6"></td>
  </tr>
  <tr>
  <td width="50"></td>
  <td width="182" valign="top">
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td height="40" valign="top" style="color: #FFFF00; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;">NDP 2014</td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="chairmans.php">Chairman&lsquo;s Foreword</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" />
  </td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="theme.php">Theme, Logo &amp; Funpack</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">The Stage</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Traffic Information</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Celebrations Map</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Our Partners</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="media_releases.php">Media Releases</a></td>
  </tr>
  </table>
  </td>
  <td width="213" valign="top">
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td height="40" valign="top" style="color: #FFFF00; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;">GALLERY</td>
  </tr>
  <tr>
  <td height="25" valign="top" title="Coming Soon"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">
  NDP 2014 Songs</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Official Photos</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Watch NDP 2014 Live</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><span style="color: #FFFFFF  !important; font-family:sans-serif,Arial, Helvetica; font-size:12px;">Public Submissions</span></td>
  </tr>
  <tr>
  <td height="25" valign="top" style="padding-left:20px;"><a class="dropdown_active" href="photo_submissions.php">Photos</a></td>
  </tr>
  <tr>
  <td height="25" valign="top" style="padding-left:20px;"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Videos</a></td>
  </tr>
  <tr>
  <td height="25" valign="top" style="padding-left:20px;"><a class="dropdown_active" href="logo_submissions.php">Logos</a></td>
  </tr>
  </table>
  </td>
  <td width="194" valign="top">
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td height="40" valign="top" style="color: #FFFF00; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;">HIGHLIGHTS</td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="paradeceremony.php">Parade &amp; Ceremony</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="show.php">Show</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="dynamicdefence.php">Dynamic Defence Display</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Complementary Content</a></td>
  </tr>
  </table>
  </td>
  <td width="209" valign="top">
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td height="40" valign="top" style="color: #FFFF00; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;">TICKETING</td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="https://eballot.ndp.org.sg/index.php">Tickets Balloting</a></td>
  </tr>
  </table>
  </td>
  <td width="151" valign="top">
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td height="40" valign="top" style="color: #FFFF00; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;">PARTICIPATION</td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="photos.php">Home Through Our Eyes (Photos/Videos)</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="ndplogoplay.php">NDP Logo Play </a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="stories.php">Singapore Stories</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="images/participation/img_junior_red_lions.jpg" target="_blank" id="jrl">Junior Red Lions</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" />
  <script type="text/javascript">
  $('#jrl').iLightBox();
  </script>
  </tr>
  <tr>
  <td height="25" valign="top"><a class="dropdown_active" href="http://www.familyawards.sg" target="_blank">Big-Hearted Family</a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Fly Our Flag! </a>
  <br /><img src="images/dotted_line.jpg" alt="Dotted Line Partition" /></td>
  </tr>
  <tr>
  <td height="25" valign="top"><a style="color: #666666  !important;" href="javascript:void(0);" title="coming soon">Care &amp; Share!</a></td>
  </tr>
  </table>
  </td>
  <td width="50"></td>
  </tr>
  <tr>
  <td height="15" colspan="6"></td>
  </tr>
  </table>
  </div><table cellpadding="0" cellspacing="0" border="0" width="1200">
  <tr>
  <td width="650" height="41"><div style="margin-left: 30px;"><a href="https://www.facebook.com/ndpeep" target="_blank"><img src="images/icon_fb.jpg" border="0" alt="Facebook" title="Facebook" /></a><a href="http://instagram.com/ndpsing2014" target="_blank"><img src="images/icon_instagram.png" hspace="5" border="0"  alt="Instagram" title="Instagram" /></a></div></td>
  <td><a href="index.php"><img id="nav_home" name="nav_home" src="images/nav_home_over.jpg" border="0" alt="Home" /></a></td><td><a href="javascript:void(0);" onmouseout="document.getElementById('divDropdown').style.display='none';MM_swapImgRestore();" onmouseover="MM_swapImage('nav_ndp2014','','images/nav_ndp2014_over.jpg',1);document.getElementById('divDropdown').style.display='block';"><img id="nav_ndp2014" name="nav_ndp2014" src="images/nav_ndp2014.jpg" border="0" alt="NDP2014" /></a></td><td><a href="javascript:void(0);" onmouseout="document.getElementById('divDropdown').style.display='none';MM_swapImgRestore()" onmouseover="MM_swapImage('nav_gallery','','images/nav_gallery_over.jpg',1);document.getElementById('divDropdown').style.display='block';"><img id="nav_gallery" name="nav_gallery" src="images/nav_gallery.jpg" border="0" alt="Gallery" /></a></td><td><a href="highlights.php" onmouseout="document.getElementById('divDropdown').style.display='none';MM_swapImgRestore()" onmouseover="MM_swapImage('nav_highlights','','images/nav_highlights_over.jpg',1);document.getElementById('divDropdown').style.display='block';"><img id="nav_highlights" name="nav_highlights" src="images/nav_highlights.jpg" alt="Highlights" style="border:0px;" /></a></td><td><a href="https://eballot.ndp.org.sg/index.php" onmouseout="document.getElementById('divDropdown').style.display='none';MM_swapImgRestore()" onmouseover="MM_swapImage('nav_ticketing','','images/nav_ticketing_over.jpg',1);document.getElementById('divDropdown').style.display='block';"><img id="nav_ticketing" name="nav_ticketing" src="images/nav_ticketing.jpg" border="0" alt="Ticketing" /></a></td><td><a href="javascript:void(0);" onmouseout="document.getElementById('divDropdown').style.display='none';MM_swapImgRestore()" onmouseover="MM_swapImage('nav_participation','','images/nav_participation_over.jpg',1);document.getElementById('divDropdown').style.display='block';"><img id="nav_participation" name="nav_participation" src="images/nav_participation.jpg" border="0" alt="Participation" /></a></td><td><a href="mailto:enquiry@ndp.org.sg" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nav_reachus','','images/nav_reachus_over.jpg',1);"><img id="nav_reachus" name="nav_reachus" src="images/nav_reachus.jpg" border="0" alt="Reach Us" /></a></td>    <td width="32"></td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td width="17" rowspan="2"></td>
  <td id="d-logoPlusApps" width="186" valign="top">
  <table id="logoPlusApps">
  <tr><td width="186" height="195"><img src="images/logo.jpg" alt="NDP Logo" title="NDP Logo" /></td></tr>
  <tr><td id="apps" align="left">
  <br/>
  <br/>
  <script language="javascript" type="text/javascript">
document.write('<div class="fb-like" data-href="https://www.facebook.com/ndpeep" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"><\/div>');
</script>
Best View In IE9 And Above
</td></tr>
<tr><td height="10"></td></tr>
</table>
</td>
<td id="d-content">
<table width="974" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="162" height="165">
<div style="overflow:hidden; width:162px; height:165px;"><a href="" id="ilightbox" class="lightbox" ><img id="frominstagram" src="images/homelogo2.jpg" height="165" alt="Instagram Photo" title="Instagram Photo" /></a>
<script type="text/javascript"> 
$('a.lightbox').on('click', function(event) {
  event.preventDefault();
  $.iLightBox([{
    URL: $(this).attr('href'),
    linkId: 'installation',
    caption: $(this).siblings('.description').html()
  } ]);
})
</script>
<td style="width: 5px;"></td>
<td width="162" height="165" id="direction">
<img src="images/indication.jpg" width="161" height="165" alt="Indication"/>
</td>
<td style="width: 5px;"></td>
<td style="overflow:hidden; width:165px; height:165px;"> <div style="overflow:hidden; width:165px; height:165px;"><img id="frommobile" src="images/homelogo1.jpg" height="165" alt="Mobile Photo"/></div></td>
<td style="width: 5px;"></td>
<td colspan="3" rowspan="3"><iframe frameborder="0" src="timer/default.htm" style="width:470px; height:335px" scrolling="no"></iframe></td>
</tr>
<tr>
<td colspan="6" style="height: 5px;"></td>
</tr>
<tr>
<td colspan="3"><a href="stories.php"><img src="images/img_home2.jpg" width="329" height="165" alt="Singapore Stories" title="Singapore Stories"/></a></td>
<td style="width: 5px;"></td>
<td width="165" height="165" id="home_text">
<a href="chairmans.php"><img src="images/img_chairmans_foreword.jpg" alt="Chairmans Foreword" title="Chairmans Foreword"/></a>
</td>
<td style="width: 5px;"></td>
</tr>
<tr>
<td colspan="9" style="height: 5px;"></td>
</tr>
<tr>
<td colspan="3" rowspan="3" class="gallery clearfix">
<div style="position:absolute; width:329px; z-index:1;"><img src="images/img_home4_1.png" alt="blank" width="329" /><br /><img src="images/img_home4.jpg" border="0" alt="blank" width="329" /></div>
<div style="position:absolute; width:329px; z-index:0;" ><img src="images/blank_space.png" name="banner_image" width="329px" border="0" id="banner_image" alt="blank" /></div>
<img id="banner_image_base" name="banner_image_base" src="images/26f8641cc45c11e3be1a0002c9d07b9c_8.jpg" width="329px" alt="Photo Of The Week" title="Photo Of The Week" />
</td>
<td style="width: 5px;"></td>
<td colspan="3"><a href="highlights.php"><img src="images/hightlights.jpg" height="160" width="335" alt="Highlights"/></a></td>
<td></td>
<td rowspan="3" valign="top" width="300">
<div id="divPart2" style="position:absolute; width:300px; z-index:1; height:335px;"><a href="images/participation/img_junior_red_lions.jpg" id="plightbox" class="plightbox" ><img src="images/img_home8.png" height="335" width="300" alt="Participation"/></a>
<script type="text/javascript"> 
$('#plightbox').iLightBox();
</script>
<div id="divPart1" style="position:absolute; width:300px; z-index:1; height: 335px;"><a href="http://www.familyawards.sg" id="participation_link" target="_blank"><img src="images/img_home8.png" height="335" width="300" alt="Participation"/></a></div>
<div style="position:absolute; width:300px; z-index:0;"> <img src="" id="participation" name="participation" alt="Participation" height="331" width="300"/></div>
<img id="participation_base" name="participation_base" src="images/blank_space.png" height="331" width="300px" alt="Participation" title="Participation" />
</td>
</tr>
<tr>
<td></td>
<td colspan="3" style="height: 5px;" height="5px"></td>
<td></td>
</tr>
<tr>
<td style="width: 5px;"></td>
<td width="335" height="165" colspan="3"><img src="images/contest.jpg" alt="NDP Contest" title="NDP Contest"/></td>
<td style="width: 5px;"></td>
</tr>
<tr>
<td colspan="9" style="height: 5px;"></td>
</tr>
</table>

</td>
<td width="17" rowspan="2"></td>
</tr>
<tr id="d-footer">
<td width="990" colspan="4"><table cellpadding="0" cellspacing="0" border="0" width="1166"  id="footer">
<tr>
<td height="18" colspan="4"></td>
</tr>
<tr>
<td width="20"></td>
<td width="475" valign="top" height="155" align="left">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" id="footer_ndpmotto">OUR PEOPLE. OUR HOME</td>
</tr>
<tr>
<td height="78"></td>
</tr>
<tr>
<td height="37" align="left" valign="top"></td>
</tr>
<tr>
<td height="27" align="left" valign="top" id="footer_link">
<!--          <a href="javascript:void(0);">Sponsors</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);">Feedback</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="javascript:void(0);">FAQ</a>-->
          </td>
          </tr>
          </table>
          </td>
          <td width="475" valign="top" height="155" align="right">
          <table cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td align="right"><img src="images/btm_slogan2.jpg" alt="NDP Slogan" title="NDP Slogan" /></td>
          </tr>
          <tr>
          <td height="33"></td>
          </tr>
          <tr>
          <td height="27" align="left" valign="top" id="footer_copyright">Copyright &copy; NDP 2014. All Rights Reserved.</td>
          </tr>
          </table>
          </td>
          <td width="20"></td>
          </tr>
          </table></td>
          </tr>
          </table>
          </div>

          <script type="text/javascript">
          var sType = new Array;
          var sHigh = new Array;
          var sLow = new Array;
          var sStandard = new Array;
          var slideshow = new Array(); 
          var participation = ["big_hearted.jpg", "junior_ red.jpg"];

          sType[0] = "image";
          sHigh[0] = "";
          sLow[0] = new Image();
          sLow[0].src = "http://origincache-prn.fbcdn.net/10387790_482359195242770_1789830065_a.jpg"; 

          sStandard[] = "http://origincache-prn.fbcdn.net/10387790_482359195242770_1789830065_n.jpg"; 

          sType[1] = "image";
          sHigh[1] = "";
          sLow[1] = new Image();
          sLow[1].src = "http://origincache-frc.fbcdn.net/10358461_660046867407823_1080223505_a.jpg"; 

          sStandard[1] = "http://origincache-frc.fbcdn.net/10358461_660046867407823_1080223505_n.jpg"; 

          sType[2] = "image";
          sHigh[2] = "";
          sLow[2] = new Image();
          sLow[2].src = "http://origincache-frc.fbcdn.net/10358401_771336806231233_2086979511_a.jpg"; 

          sStandard[2] = "http://origincache-frc.fbcdn.net/10358401_771336806231233_2086979511_n.jpg"; 

          sType[3] = "image";
          sHigh[3] = "";
          sLow[3] = new Image();
          sLow[3].src = "http://origincache-frc.fbcdn.net/10362099_718711971524227_1912606873_a.jpg"; 

          sStandard[3] = "http://origincache-frc.fbcdn.net/10362099_718711971524227_1912606873_n.jpg"; 

          sType[4] = "image";
          sHigh[4] = "";
          sLow[4] = new Image();
          sLow[4].src = "http://origincache-frc.fbcdn.net/10251437_298412606985724_114193163_a.jpg"; 

          sStandard[4] = "http://origincache-frc.fbcdn.net/10251437_298412606985724_114193163_n.jpg"; 

          sType[5] = "image";
          sHigh[5] = "";
          sLow[5] = new Image();
          sLow[5].src = "http://origincache-prn.fbcdn.net/10387984_714116695297462_1800579218_a.jpg"; 

          sStandard[5] = "http://origincache-prn.fbcdn.net/10387984_714116695297462_1800579218_n.jpg"; 

          sType[6] = "image";
          sHigh[6] = "";
          sLow[6] = new Image();
          sLow[6].src = "http://origincache-prn.fbcdn.net/927062_288323811346108_1767044503_a.jpg"; 

          sStandard[6] = "http://origincache-prn.fbcdn.net/927062_288323811346108_1767044503_n.jpg"; 

          sType[7] = "image";
          sHigh[7] = "";
          sLow[7] = new Image();
          sLow[7].src = "http://origincache-prn.fbcdn.net/927959_243079825816357_1868381280_a.jpg"; 

          sStandard[7] = "http://origincache-prn.fbcdn.net/927959_243079825816357_1868381280_n.jpg"; 

          sType[8] = "image";
          sHigh[8] = "";
          sLow[8] = new Image();
          sLow[8].src = "http://origincache-ash.fbcdn.net/926208_1424771007784246_1776931536_a.jpg"; 

          sStandard[8] = "http://origincache-ash.fbcdn.net/926208_1424771007784246_1776931536_n.jpg"; 

          sType[9] = "image";
          sHigh[9] = "";
          sLow[9] = new Image();
          sLow[9].src = "http://origincache-ash.fbcdn.net/10358406_505749626214869_1844162943_a.jpg"; 

          sStandard[9] = "http://origincache-ash.fbcdn.net/10358406_505749626214869_1844162943_n.jpg"; 

          sType[10] = "image";
          sHigh[10] = "";
          sLow[10] = new Image();
          sLow[10].src = "http://origincache-prn.fbcdn.net/10358459_792191447465450_337948302_a.jpg"; 

          sStandard[10] = "http://origincache-prn.fbcdn.net/10358459_792191447465450_337948302_n.jpg"; 

          sType[11] = "image";
          sHigh[11] = "";
          sLow[11] = new Image();
          sLow[11].src = "http://origincache-prn.fbcdn.net/10369262_235212630010489_450629686_a.jpg"; 

          sStandard[11] = "http://origincache-prn.fbcdn.net/10369262_235212630010489_450629686_n.jpg"; 

          sType[12] = "image";
          sHigh[12] = "";
          sLow[12] = new Image();
          sLow[12].src = "http://origincache-ash.fbcdn.net/926211_640461269376727_1356993694_a.jpg"; 

          sStandard[12] = "http://origincache-ash.fbcdn.net/926211_640461269376727_1356993694_n.jpg"; 

          sType[13] = "image";
          sHigh[13] = "";
          sLow[13] = new Image();
          sLow[13].src = "http://origincache-prn.fbcdn.net/10261055_742732112437796_1041558436_a.jpg"; 

          sStandard[13] = "http://origincache-prn.fbcdn.net/10261055_742732112437796_1041558436_n.jpg"; 

          sType[14] = "image";
          sHigh[14] = "";
          sLow[14] = new Image();
          sLow[14].src = "http://origincache-prn.fbcdn.net/10299620_306003422890687_1689482762_a.jpg"; 

          sStandard[14] = "http://origincache-prn.fbcdn.net/10299620_306003422890687_1689482762_n.jpg"; 

          sType[15] = "image";
          sHigh[15] = "";
          sLow[15] = new Image();
          sLow[15].src = "http://origincache-frc.fbcdn.net/10326610_506656582769344_252393037_a.jpg"; 

          sStandard[15] = "http://origincache-frc.fbcdn.net/10326610_506656582769344_252393037_n.jpg"; 

          sType[16] = "image";
          sHigh[16] = "";
          sLow[16] = new Image();
          sLow[16].src = "http://origincache-prn.fbcdn.net/10354445_645747708840206_157230036_a.jpg"; 

          sStandard[16] = "http://origincache-prn.fbcdn.net/10354445_645747708840206_157230036_n.jpg"; 

          sType[17] = "image";
          sHigh[17] = "";
          sLow[17] = new Image();
          sLow[17].src = "http://origincache-frc.fbcdn.net/914324_442410342570209_678876375_a.jpg"; 

          sStandard[17] = "http://origincache-frc.fbcdn.net/914324_442410342570209_678876375_n.jpg"; 

          sType[18] = "image";
          sHigh[18] = "";
          sLow[18] = new Image();
          sLow[18].src = "http://origincache-ash.fbcdn.net/10311138_304689489687240_260612590_a.jpg"; 

          sStandard[18] = "http://origincache-ash.fbcdn.net/10311138_304689489687240_260612590_n.jpg"; 

          sType[19] = "image";
          sHigh[19] = "";
          sLow[19] = new Image();
          sLow[19].src = "http://origincache-frc.fbcdn.net/10354419_1448685965376557_1042531829_a.jpg"; 

          sStandard[19] = "http://origincache-frc.fbcdn.net/10354419_1448685965376557_1042531829_n.jpg";

          slideshow.push("01.jpg"); 
          slideshow.push("02.jpg"); 
          slideshow.push("03.jpg"); 
          slideshow.push("04.jpg"); 
          slideshow.push("05.jpg"); 
          slideshow.push("06.jpg"); 
          slideshow.push("07.jpg"); 
          slideshow.push("08.jpg"); 
          slideshow.push("09.jpg"); 
          slideshow.push("10.jpg"); 

          var chkImgId = new Array();
          var index = 0;
          while (index < 3)
          {

           var num = Math.floor( Math.random() * slideshow.length );
           var a = chkImgId.indexOf(num); 
           if(index == 0){
            chkImgId.push(num);
            index++;
          }
          else if(a == -1){
            chkImgId.push(num);
            index++;
          }
        }

        function showLightBox()
        {
         $.iLightBox([{
          URL: $(this).attr('href'),
          linkId: 'installation',
          caption: $(this).siblings('.description').html()
        } ]);
       }
       </script>
       <script type="text/javascript">
       var instagramRandom = Math.floor( Math.random() * sLow.length );
       obj = document.getElementById("frominstagram");
       objlink = document.getElementById("ilightbox");
       objlink.setAttribute('href', sStandard[instagramRandom]);
       obj.src = sLow[instagramRandom].src;

       </body>
       </html>