<div class="home cf">
	<div class="sidebar">
		<img src="images/logo.jpg" alt="NDP Logo" title="NDP Logo" />
	</div>
	<div class="main">
		<div>
			<img src="http://origincache-frc.fbcdn.net/10251437_298412606985724_114193163_a.jpg" height="165" alt="Instagram Photo" title="Instagram Photo">
		</div>
		<div>
			<img src="images/indication.jpg" width="161" height="165" alt="Indication">
		</div>
		<div>
			<img src="images/homelogo1.jpg" height="165" alt="Mobile Photo">
		</div>
		<div>
			<a href="/stories">
				<img src="images/img_home2.jpg" width="329" height="165" alt="Singapore Stories" title="Singapore Stories">
			</a>
		</div>
		<div>
			<a href="chairmans.php">
				<img src="images/img_chairmans_foreword.jpg" alt="Chairmans Foreword" title="Chairmans Foreword">
			</a>			
		</div>
		<div>
			<a href="https://eballot.ndp.org.sg/index.php" target="_top" style="border:0px;">
				<img src="/images/bg_ballot.jpg">
			</a>
		</div>
		<div>
			<img src="media/photo_week/02.jpg" name="banner_image" width="329px" border="0" id="banner_image" alt="blank">
			<img src="images/img_home4_1.png" alt="blank" width="329">
			<img src="images/img_home4.jpg" border="0" alt="blank" width="329">
		</div>
		<div>
			<a href="/highlights">
				<img src="images/hightlights.jpg" height="160" width="335" alt="Highlights">
			</a>
		</div>
		<div>
			<a href="#">
				<img src="images/contest.jpg" alt="NDP Contest" title="NDP Contest">
			</a>
		</div>
		<div>
			<a href="images/participation/img_junior_red_lions.jpg" class="plightbox">
				<img src="images/img_home8.png" height="335" width="297" alt="Participation">
			</a>
		</div>
	</div>
</div>