<div class="home cf">
	<div class="sidebar">
		<img src="images/logo.jpg" alt="NDP Logo" title="NDP Logo" />
	</div>
	<div class="main">
		<div class="instagram-gallery carousel">
			<img src="http://origincache-frc.fbcdn.net/10251437_298412606985724_114193163_a.jpg" height="165" alt="Instagram Photo" title="Instagram Photo">
			<img src="http://origincache-prn.fbcdn.net/927959_243079825816357_1868381280_a.jpg" height="165" alt="Instagram Photo" title="Instagram Photo">
		</div>
		<div>
			<img src="images/indication.jpg" width="161" height="165" alt="Indication">
		</div>
		<div>
			<img src="images/homelogo1.jpg" height="165" alt="Mobile Photo">
		</div>
		<div>
			<a href="/stories">
				<img src="images/img_home2.jpg" width="329" height="165" alt="Singapore Stories" title="Singapore Stories">
			</a>
		</div>
		<div>
			<a href="chairmans.php">
				<img src="images/img_chairmans_foreword.jpg" alt="Chairmans Foreword" title="Chairmans Foreword">
			</a>			
		</div>
		<div>
			<a href="https://eballot.ndp.org.sg/index.php" target="_top" style="border:0px;">
				<img src="/images/bg_ballot.jpg">
			</a>
		</div>
		<div class="week-photos">
			<img src="/images/img_home4.jpg" border="0" alt="blank" width="329" class="overlay">
			<div class="carousel">
				<img src="/media/photos/01.jpg">
				<img src="/media/photos/02.jpg">
				<img src="/media/photos/03.jpg">
				<img src="/media/photos/04.jpg">
				<img src="/media/photos/05.jpg">
				<img src="/media/photos/06.jpg">
				<img src="/media/photos/07.jpg">
				<img src="/media/photos/08.jpg">
				<img src="/media/photos/09.jpg">
				<img src="/media/photos/10.jpg">
			</div>
		</div>
		<div>
			<a href="/highlights">
				<img src="images/hightlights.jpg" height="160" width="335" alt="Highlights">
			</a>
		</div>
		<div>
			<a href="#">
				<img src="images/contest.jpg" alt="NDP Contest" title="NDP Contest">
			</a>
		</div>
		<div class="heros">
			<div class="carousel" data-cycle-slides=">a">
 				<a href="/media/red_lions.jpg" class="fancybox">
					<img src="/media/red_lions_hero.jpg">
					<img src="/images/img_home8.png" class="overlay" />
				</a>
				<a href="http://www.familyawards.sg" target="_blank">
					<img src="/media/big_hearted_hero.jpg">
					<img src="/images/img_home8.png" class="overlay" />
				</a>
			</div>
		</div>
	</div>
</div>