@charset "UTF-8";
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * OBJECTS-AND-ABSTRACTIONS
 * OVERRIDES
 * CUSTOM
    ^ COLORS
    ^ FONTS
    ^ CUSTOM FONT MIXINS
*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/**
 * Other overrides to inuit
 */
/* line 85, sass/_vars.scss */
label {
  cursor: default !important;
}

/* line 86, sass/_vars.scss */
.form-fields input[type=text] {
  cursor: text;
}

/* line 87, sass/_vars.scss */
.check-list label {
  cursor: pointer !important;
}

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
 * ^COLORS 
 */
/**
 * ^FONTS
 */
/**
 * ^CUSTOM FONT MIXINS 
 */
/*------------------------------------*\ 
    $CONTENTS    
\*------------------------------------*/
/**
 * CLEARFIX 
*/
/* line 8, sass/ui/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 13, sass/ui/_helpers.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 only */
/* line 17, sass/ui/_helpers.scss */
.cf {
  *zoom: 1;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/
/*------------------------------------*\
    $GRID
\*------------------------------------*/
/* line 12, sass/ui/_scaffolding.scss */
.container {
  max-width: 1190px;
  padding: 0 20px;
  margin: 0 auto;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/
/*------------------------------------*\
    $LOGO
\*------------------------------------*/
/* line 12, sass/ui/_header.scss */
header {
  background-color: #333;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/
/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/
/* line 14, sass/ui/_navs.scss */
nav .social {
  float: left;
}
/* line 17, sass/ui/_navs.scss */
nav .links {
  float: right;
}
/* line 21, sass/ui/_navs.scss */
nav .links > ul li {
  float: left;
  padding: 0 10px;
  list-style: none;
}
/* line 26, sass/ui/_navs.scss */
nav .links > ul li a:link, nav .links > ul li a:visited {
  text-transform: uppercase;
  font-weight: 900;
  color: #999;
}
/* line 32, sass/ui/_navs.scss */
nav .links > ul li a:hover, nav .links > ul li a:active {
  color: #CCC;
}

/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
/*------------------------------------*\
	$CONTENTS
\*------------------------------------*/
/**
 * FOOTER
 */
/*------------------------------------*\
$FOOTER
\*------------------------------------*/
/* line 11, sass/ui/_footer.scss */
footer {
  margin: 0 0 20px 0;
  padding: 20px;
  height: 160px;
  position: relative;
  background-color: #ef4226;
}
/* line 19, sass/ui/_footer.scss */
footer .motto {
  font-family: 'open sans regular', sans-serif;
  font-size: 15px !important;
  color: #fdbcb2;
  position: absolute;
}
/* line 27, sass/ui/_footer.scss */
footer .slogan {
  width: 185px;
  height: 95px;
  position: absolute;
  right: 20px;
}
/* line 35, sass/ui/_footer.scss */
footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 1, sass/ui/_home.scss */
.home {
  position: relative;
}
/* line 4, sass/ui/_home.scss */
.home .sidebar {
  width: 190px;
  height: 100%;
}
/* line 9, sass/ui/_home.scss */
.home .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
  z-index: 9999;
}
/* line 17, sass/ui/_home.scss */
.home .instagram-gallery {
  width: 165px;
  height: 165px;
}
/* line 22, sass/ui/_home.scss */
.home .week-photos {
  position: relative;
}
/* line 26, sass/ui/_home.scss */
.home .heroes {
  position: relative;
}

/* line 11, sass/styles.scss */
body {
  background: url(../images/bg.jpg) no-repeat #3a3a3a;
}
