@charset "UTF-8";
/* line 1, sass/styles.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, sass/styles.scss */
body {
  background: url(../images/bg.jpg) no-repeat #3a3a3a;
}

/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * OBJECTS-AND-ABSTRACTIONS
 * OVERRIDES
 * CUSTOM
    ^ COLORS
    ^ FONTS
    ^ CUSTOM FONT MIXINS
*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/**
 * Other overrides to inuit
 */
/* line 85, sass/_vars.scss */
label {
  cursor: default !important;
}

/* line 86, sass/_vars.scss */
.form-fields input[type=text] {
  cursor: text;
}

/* line 87, sass/_vars.scss */
.check-list label {
  cursor: pointer !important;
}

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
 * ^COLORS 
 */
/**
 * ^FONTS
 */
/**
 * ^CUSTOM FONT MIXINS 
 */
/*------------------------------------*\ 
    $CONTENTS    
\*------------------------------------*/
/**
 * CLEARFIX 
 */
/* line 7, sass/ui/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 12, sass/ui/_helpers.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 only */
/* line 16, sass/ui/_helpers.scss */
.cf {
  *zoom: 1;
}

/**
 * FLOATS
 */
/* line 23, sass/ui/_helpers.scss */
.fl {
  float: left;
}

/* line 26, sass/ui/_helpers.scss */
.fr {
  float: right;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/
/*------------------------------------*\
    $GRID
\*------------------------------------*/
/* line 12, sass/ui/_scaffolding.scss */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* line 18, sass/ui/_scaffolding.scss */
.row {
  width: 100%;
}

/* line 22, sass/ui/_scaffolding.scss */
.row:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 28, sass/ui/_scaffolding.scss */
.col-1 {
  width: 100%;
}

/* line 32, sass/ui/_scaffolding.scss */
.col-1-2 {
  width: 50%;
}

/* line 36, sass/ui/_scaffolding.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 40, sass/ui/_scaffolding.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 44, sass/ui/_scaffolding.scss */
.col-1-4 {
  width: 25%;
}

/* line 48, sass/ui/_scaffolding.scss */
.col-2-4 {
  width: 50%;
}

/* line 52, sass/ui/_scaffolding.scss */
.col-3-4 {
  width: 75%;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/
/*------------------------------------*\
    $LOGO
\*------------------------------------*/
/* line 12, sass/ui/_header.scss */
header {
  background-color: #333;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/
/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/
/* line 14, sass/ui/_navs.scss */
nav .social {
  float: left;
}
/* line 17, sass/ui/_navs.scss */
nav .links {
  float: right;
}
/* line 21, sass/ui/_navs.scss */
nav .links > ul li {
  float: left;
  padding: 0 10px;
  list-style: none;
}
/* line 26, sass/ui/_navs.scss */
nav .links > ul li a:link, nav .links > ul li a:visited {
  text-transform: uppercase;
  font-weight: 900;
  color: #999;
}
/* line 32, sass/ui/_navs.scss */
nav .links > ul li a:hover, nav .links > ul li a:active {
  color: #CCC;
}

/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
/*------------------------------------*\
	$CONTENTS
\*------------------------------------*/
/**
 * FOOTER
 */
/*------------------------------------*\
$FOOTER
\*------------------------------------*/
/* line 11, sass/ui/_footer.scss */
footer {
  margin: 0 0 20px 0;
  padding: 20px;
  height: 160px;
  position: relative;
  background-color: #ef4226;
}
/* line 19, sass/ui/_footer.scss */
footer .motto {
  font-family: 'open sans regular', sans-serif;
  font-size: 15px !important;
  color: #fdbcb2;
  position: absolute;
}
/* line 27, sass/ui/_footer.scss */
footer .slogan {
  width: 185px;
  height: 95px;
  position: absolute;
  right: 20px;
}
/* line 35, sass/ui/_footer.scss */
footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 1, sass/ui/_home.scss */
.home {
  position: relative;
  background: #FFF;
  /* Home Page Grid */
  /* Home Page Elements */
}
/* line 6, sass/ui/_home.scss */
.home a {
  display: block;
}
/* line 10, sass/ui/_home.scss */
.home img {
  display: block;
}
/* line 15, sass/ui/_home.scss */
.home [class*='col-'] {
  float: left;
  padding-left: 3px;
  padding-right: 3px;
}
/* line 21, sass/ui/_home.scss */
.home [class*='col-']:first-of-type {
  padding-left: 0;
}
/* line 25, sass/ui/_home.scss */
.home [class*='col-']:last-of-type {
  float: right;
  padding-right: 0;
}
/* line 30, sass/ui/_home.scss */
.home .row {
  margin-bottom: 6px;
}
/* line 34, sass/ui/_home.scss */
.home .row:last-of-type {
  margin-bottom: 0;
}
/* line 39, sass/ui/_home.scss */
.home .sidebar {
  width: 200px;
}
/* line 43, sass/ui/_home.scss */
.home .main {
  width: 960px;
  overflow-x: hidden;
}
/* line 47, sass/ui/_home.scss */
.home .main .square {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
